In [38]:
import pandas as pd
from shapely.geometry import Point # Shapely for converting latitude/longtitude to geometry
import geopandas as gpd

In [39]:
list_target = pd.read_pickle("TARGET-communities-extract-wellbeing.pkl")
header = list_target[0]
df_target = pd.DataFrame(data=list_target, columns=header)
df_target = df_target.drop(df_target.index[0])
df_target.head()

,,clean,smell,noise,town,district,longitude,latitude
1,万寿社区居委会,3,0.0,0.0,盈浦街道,青浦区,121.104287016932,31.1558823799679
2,万泰花园第一居委会,3,1.0,0.0,七宝镇,闵行区,121.351529089795,31.144326843509
3,万科阳光苑居委会,2,0.0,0.0,吴泾镇,闵行区,121.468520387505,31.0422853979528
4,万豪居委会,3,0.0,0.0,长征镇,普陀区,121.367237458941,31.2407251034807
5,万里名轩社区居委会,2,,0.0,万里街道,普陀区,121.403601417271,31.269155049366

In [40]:
df_target = df_target[df_target['clean']!= '']
df_target = df_target[df_target['smell']!= '']
df_target = df_target[df_target['noise']!= '']
df_target = df_target[df_target['longitude']!= '']
df_target = df_target[df_target['latitude']!= '']


df_target['clean'] = df_target['clean'].apply(lambda x: float(x))
df_target['smell'] = df_target['smell'].apply(lambda x: float(x))
df_target['noise'] = df_target['noise'].apply(lambda x: float(x))
df_target['longitude'] = df_target['longitude'].apply(lambda x: float(x))
df_target['latitude'] = df_target['latitude'].apply(lambda x: float(x))

In [41]:
df_target.head()

              clean  smell  noise  town district   longitude   latitude
1    万寿社区居委会    3.0    0.0    0.0  盈浦街道      青浦区  121.104287  31.155882
2  万泰花园第一居委会    3.0    1.0    0.0   七宝镇      闵行区  121.351529  31.144327
3   万科阳光苑居委会    2.0    0.0    0.0   吴泾镇      闵行区  121.468520  31.042285
4      万豪居委会    3.0    0.0    0.0   长征镇      普陀区  121.367237  31.240725
6      万馨居委会    3.0    0.0    0.0  川沙新镇     浦东新区  121.668506  31.195306

In [70]:
df_target['smell'] = df_target['smell'].apply(lambda x: 1 if x==0  else 0)
df_target['noise'] = df_target['noise'].apply(lambda x: 1 if x==0  else 0)
df_target.head()

              clean  smell  noise  town district   longitude   latitude  mean
1    万寿社区居委会    3.0      0      0  盈浦街道      青浦区  121.104287  31.155882   1.8
2  万泰花园第一居委会    3.0      1      0   七宝镇      闵行区  121.351529  31.144327   1.6
3   万科阳光苑居委会    2.0      0      0   吴泾镇      闵行区  121.468520  31.042285   1.4
4      万豪居委会    3.0      0      0   长征镇      普陀区  121.367237  31.240725   1.8
6      万馨居委会    3.0      0      0  川沙新镇     浦东新区  121.668506  31.195306   1.8

In [71]:
df_target['mean'] = (df_target['clean']*2 + df_target['noise']*2 + df_target['smell'])/5

In [72]:
df_target.head()

              clean  smell  noise  town district   longitude   latitude  mean
1    万寿社区居委会    3.0      0      0  盈浦街道      青浦区  121.104287  31.155882   1.2
2  万泰花园第一居委会    3.0      1      0   七宝镇      闵行区  121.351529  31.144327   1.4
3   万科阳光苑居委会    2.0      0      0   吴泾镇      闵行区  121.468520  31.042285   0.8
4      万豪居委会    3.0      0      0   长征镇      普陀区  121.367237  31.240725   1.2
6      万馨居委会    3.0      0      0  川沙新镇     浦东新区  121.668506  31.195306   1.2

In [73]:
df_ML = df_target[['mean','longitude','latitude']]

In [74]:
df_ML.head()

   mean   longitude   latitude
1   1.2  121.104287  31.155882
2   1.4  121.351529  31.144327
3   0.8  121.468520  31.042285
4   1.2  121.367237  31.240725
6   1.2  121.668506  31.195306

In [75]:
#geometry = [Point(xy) for xy in zip(df_ML['longitude'], df_ML['latitude'])]

In [76]:
crs = {'init': 'epsg:4479'}
gdf_ML = gpd.GeoDataFrame(df_ML, crs=crs, geometry=geometry)

In [79]:
gdf_ML = gdf_ML.drop(['longitude', 'latitude'],axis=1)

TypeError: 'method' object is not subscriptable

In [80]:
gdf_ML

     mean   longitude   latitude                                   geometry
1     1.2  121.104287  31.155882  POINT (121.104287016932 31.1558823799679)
2     1.4  121.351529  31.144327   POINT (121.351529089795 31.144326843509)
3     0.8  121.468520  31.042285  POINT (121.468520387505 31.0422853979528)
4     1.2  121.367237  31.240725  POINT (121.367237458941 31.2407251034807)
6     1.2  121.668506  31.195306  POINT (121.668505522212 31.1953057158861)
9     1.2  121.436313  31.319944   POINT (121.43631336367 31.3199436665669)
10    1.2  121.436859  31.317063  POINT (121.436859112757 31.3170628592636)
11    1.2  121.485432  31.302010  POINT (121.485432275279 31.3020103279143)
12    0.8  121.447585  31.327423  POINT (121.447584620833 31.3274228855577)
13    1.2  121.495845  31.181983  POINT (121.495845054905 31.1819830763579)
15    1.2  121.566878  31.339052  POINT (121.566878362846 31.3390515476908)
16    1.6  121.313355  30.946804  POINT (121.313354508403 30.9468041892619)
18    0.8  121.511941  31.227292  POINT (121.511941125382 31.2272922646263)
19    0.8  121.577742  31.113719  POINT (121.577741975311 31.1137186964607)
20    0.8  121.892089  30.921263  POINT (121.892088710925 30.9212634413547)
21    0.8  121.528615  31.201236  POINT (121.528614912248 31.2012361296437)
22    1.2  121.532968  31.206266  POINT (121.532967564401 31.2062656736219)
23    0.8  121.506737  31.251742  POINT (121.506737160591 31.2517421240997)
27    0.8  121.517032  31.206894  POINT (121.517032051687 31.2068942062027)
28    0.8  121.160669  30.896517  POINT (121.160669007168 30.8965166419295)
30    1.2  121.577764  31.287652   POINT (121.57776434235 31.2876519598701)
31    1.2  121.543403  31.276561  POINT (121.543402583362 31.2765613810029)
33    1.2  121.592416  31.273069  POINT (121.592416481135 31.2730692730285)
37    1.2  121.461330  31.227251   POINT (121.46132993273 31.2272511656088)
38    1.2  121.461330  31.227251   POINT (121.46132993273 31.2272511656088)
39    1.2  121.526898  31.315726   POINT (121.52689846799 31.3157262229868)
40    1.6  121.485322  31.235684  POINT (121.485321703633 31.2356838584233)
42    0.8  121.700419  30.860481   POINT (121.70041899564 30.8604809217571)
43    1.6  121.408071  31.268085  POINT (121.408071457032 31.2680848750169)
45    1.6  121.432524  31.252389  POINT (121.432523701507 31.2523889533875)
..    ...         ...        ...                                        ...
435   0.8  121.313153  31.248616  POINT (121.313152548551 31.2486156912611)
436   1.2  121.349422  30.736401  POINT (121.349421733626 30.7364005327584)
437   0.8  121.510879  31.281153  POINT (121.510878571888 31.2811530756539)
438   1.8  121.235307  31.377106  POINT (121.235307221451 31.3771056109352)
439   1.2  121.386614  31.325163  POINT (121.386613816474 31.3251627993237)
440   1.0  121.421839  31.229094  POINT (121.421839403066 31.2290944556446)
441   1.0  121.421839  31.229094  POINT (121.421839403066 31.2290944556446)
442   1.2  121.488322  31.343507  POINT (121.488321905831 31.3435066182358)
443   1.6  121.464021  31.236465  POINT (121.464020669218 31.2364652640607)
445   1.2  121.398820  31.228718  POINT (121.398820231868 31.2287184544931)
446   0.8  121.428500  31.185285  POINT (121.428500064526 31.1852848823914)
447   0.8  121.512170  31.224035  POINT (121.512170204291 31.2240346099093)
448   0.8  121.570744  31.267425  POINT (121.570743689469 31.2674250577202)
449   1.2  121.480365  31.227699  POINT (121.480364949882 31.2276992411271)
450   0.6  121.116967  31.161576  POINT (121.116967089059 31.1615757378301)
452   0.8  121.505674  31.278446  POINT (121.505674494682 31.2784463546155)
453   0.8  121.504818  31.282191  POINT (121.504818148538 31.2821907539002)
454   1.2  121.567570  31.242395  POINT (121.567570405549 31.2423953037003)
455   1.2  121.508542  31.215831  POINT (121.508542072958 31.2158313980006)
456   0.8  121.435374  31.163234  POINT (121.435373692641 31.1632336164382)
457   1.2  121.459131  31.291942  POINT (121.459130978811 31.2919417116407)
458   1.2  121.812223  30.967492  POINT (121.812223229518 30.9674917601366)
459   1.6  121.222333  31.006554  POINT (121.222332791325 31.0065537664432)
460   0.8  121.418534  31.003884  POINT (121.418534149031 31.0038836873823)
461   1.2  121.497307  31.258697  POINT (121.497307079158 31.2586967640444)
462   0.8  121.476929  31.269160  POINT (121.476928661028 31.2691603211919)
463   2.0  121.228429  31.032814  POINT (121.228428778365 31.0328140016649)
464   1.2  121.511665  31.183639  POINT (121.511665166614 31.1836392948176)
466   1.6  121.272024  31.171085  POINT (121.272024461359 31.1710851691452)
467   1.6  121.524911  31.207149  POINT (121.524910617331 31.2071493942291)

[389 rows x 4 columns]